body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
}

#wrapper {
    width: 860px;
    margin: 0 auto;
    border: 3px solid #000;
}

h1 {
    text-align: center;
}

h3 {
    text-align: right;
    margin-right: 20px;
}

/* Section button field style */
#newFieldBtn {
    margin-left: 18px;
    margin-top: 10px;
}

/* Div containers style */
#divContainer {
    width: 820px;
    margin: 0 auto;
    border: 2px solid #000;
    padding-bottom: 15px;
}

/* Button and input field style */
.newContainer {
    margin-top: 10px;
}

/* New Item style */
.newItem {
    margin: 10px;
    margin-left: 600px; 
}

/* Sections style */ 
.section {
    border: 2px solid #000;  
    width: 790px;
    margin: 0 auto;
    margin-top: 15px;
}

/* UL style */
ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid  #000;
    width: 730px;
    margin-top: 5px;
}

input:checked {
    background-color: green;   
}