/***** GENERAL STYLES *****/ 

#wrapper {
	position: absolute;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 16px;
	width: 400px;
	background-color: #FFA500;
	font-weight: bold;
	color: #FFF;
}

/***** FORM STYLES *****/ 

form {
	margin: 0 auto;
	width: 330px;
	background-color: #89B426;
	border-radius: 25px;
}

label {
	font-size: 1em;
}

input {
	margin-left: 55px; 
	width: 200px;
	border: 1px solid #FFA500;
	border-radius: 15px;
	padding: 5px;
}

.label {
	text-align: center;
	margin: 0;
}

.required:before {
	content: "* ";
  	color: #FF0000;
}

select {
	width: 120px;
	padding: 5px;
	background-color: #FFA500;
	border-radius: 15px;
}

.selected-options {
	text-align: center;
}

.selected-labels {
	margin: 0 30px;
}

p {
	margin-top: 0px;
}

hr {
	width: 280px;
}

.buttons {
	font-size: 0.85em;
	margin-right: 30px;
}

.buttons-style {
	zoom:1.25;
	width: 15px;
	margin-left: 20px;
}

button {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	background-color: #FFA500;
	border-radius: 20px;
	width: 180px; 
	margin: 10px 75px 10px;
}